.sider {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  background: url(../../assets/image/tumblr_static_sidebar.jpg) center no-repeat #333333;
  background-size: cover;
  width: 200px;
  height: 100%;
  transition: width 0.5s;
  overflow-x: hidden;;
  .am-icon-navicon {
    display: block;
    height: 50px;
    font-size: 1.8rem;
    padding-left: 12px;
    line-height: 50px;
    color: #dddddd;
    cursor: pointer;
  }
  .siderbar {
    color: #dddddd;
    padding-bottom: 5rem;
    margin-top: 0;
    list-style: none;
    padding-left: 0;
    overflow-y: auto;
    width: 200px;
  }
}

::-webkit-scrollbar {
  width: 0;
}

.sider.broad {
  width: 200px;
}

.sider.normal {
  width: 0;
}